<div class="item_container gray" th:fragment="itemForm">
  <div class="text-center">
    <form id="itemForm" enctype="multipart/form-data">
      <div class="inner-div">
        <div class="input-area">
          <label>상품 카테고리</label>
          <select type="text" id="category1" name="category1" onchange="categoryDetail()">
            <option>카테고리 선택</option>
            <option th:each="category : ${categories}" th:value="${category.getCategoryName()}" th:text="${category.getCategoryName()}" ></option>
          </select>
          <select type="text" id="category2" name="category">
            <option name="category"></option>
          </select>
        </div>
        <input type="hidden" id="id" th:value="${item.itemId}">
        <input type="hidden" id="categoryValue1" th:value="${parentName}">
        <input type="hidden" id="categoryValue2" th:value="${item.category}">
        <div class="input-area">
          <label>상품명</label>
          <input type="text" id="itemName" name="itemName" th:value="${item.itemName}">
        </div>
        <div class="input-area">
          <label>가격</label>
          <input type="number" id="price" name="price" th:value="${item.price} == 0 ? '' : ${item.price}">
        </div>
        <div class="input-area">
          <label>수량</label>
          <input type="number" id="stockNumber" name="stockNumber" th:value="${item.stockNumber} == 0 ? '':${item.stockNumber}">
        </div>
        <div class="input-area">
          <label>칼로리</label>
          <input type="number" id="calorie" name="calorie" th:value="${item.calorie} == 0 ? '':${item.calorie}">
        </div>
        <div class="input-area text">
          <label>상세정보</label>
          <textarea id="itemDetail" name="itemDetail" th:text="${item.itemDetail}"></textarea>
        </div>

        <div class="input-area text">
          <div>
            <label class="custom-label" th:text="상품이미지"></label>
          </div>
          <div class="div-vertical">

            <div th:if="${item.itemId}==null">
                <div class="custom-file" th:each="num, index: ${#numbers.sequence(1,3)}">
                    <input type="button" value="상품 이미지" th:onclick="'selectFile(' + ${index.index } + ')'">
                    <input type="file" th:id="'file' + ${index.index}" class="custom-file-input" name="itemImgFile" style="display:none;" th:onclick="bindDomEvent()" accept=".png, .jpg, .jpeg, .bmp, .gif">
                    <label th:for="'file' + ${index.index}" class="custom-file-label"></label>
                </div>
            </div>

            <div th:if="${item.itemId != null}">
              <div class="custom-file" th:each="itemImg, iterStat : ${itemImg}">
                <input type="button" value="상품 이미지" th:onclick="'selectFile(' + ${iterStat.index} + ')'">
                <input type="file" th:id="'file' + ${iterStat.index}" class="custom-file-input" name="itemImgFile" style="display:none;" th:onclick="bindDomEvent()" accept=".png, .jpg, .jpeg, .bmp, .gif">
                <label th:for="'file' + ${iterStat.index}" class="custom-file-label"  th:text="${itemImg.orgImgName} != null ? ${itemImg.orgImgName} : '' "></label>
              </div>
              <!-- itemImg가 3개 미만인 경우 빈 입력 필드를 추가 -->
              <div class="custom-file" th:each="_, iterStat : ${#numbers.sequence(itemImg.size(), 2)}" th:unless="${itemImg.size() >= 3}">
                <input type="button" value="상품 이미지" th:onclick="'selectFile(' + ${iterStat.index+itemImg.size()} + ')'">
                <input type="file" th:id="'file' + ${iterStat.index+itemImg.size()}" class="custom-file-input" name="itemImgFile" style="display:none;" th:onclick="bindDomEvent()" accept=".png, .jpg, .jpeg, .bmp, .gif">
                <label th:for="'file' + ${iterStat.index+itemImg.size()}" class="custom-file-label"></label>
              </div>
            </div>

          </div>
        </div>
        <div id="resultFail" class="error-msg checkResult"></div>
        <button th:if="${item.itemId} != null" class="green_button" type="button" id="updateBtn">수정</button>
        <button th:if="${item.itemId} == null" class="green_button" type="button" id="createBtn">등록</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/item.js"></script>
<script src="/js/item_category.js"></script>
