<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block layout:fragment="css">
        <link href="/styles/user_style.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/styles/single_styles.css">
        <link rel="stylesheet" type="text/css" href="/styles/single_responsive.css">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="content">

    <div class="super_container">
        <div class="container single_product_container">
            <div class="row">
                <div class="col">
                    <!-- Breadcrumbs -->
                    <div class="breadcrumbs d-flex flex-row align-items-center">
                        <ul>
                            <a href="/">
                                <li th:text="Home"></li></a>
                            <i class="fa fa-angle-right"></i>
                            <a th:href="@{/item/list/{parentCode}(parentCode = ${category.parentCode})}">
                                <li th:text="${parentName}"></li></a>
                            <i class="fa fa-angle-right"></i>
                            <a th:href="@{/item/list/{categoryCode}(categoryCode = ${category.categoryCode})}">
                                <li class="active" th:text="${category.categoryName}"></li></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product_div">
            <div class="row">
                <div class="col-lg-7">
                    <div class="single_product_pics">
                        <div class="row">
                            <div class="product_image_div">
                                <input type="hidden" class="stockNum" th:value="${item.stockNumber}">
                                <input type="hidden" id="id" th:value="${item.itemId}">
                                <input type="hidden" id="categoryCode" th:value="${category.categoryCode}">
                                <div class="image_div">
                                    <div th:each="itemImg, index : ${itemImg}">
                                        <img th:id="'itemSelectImage'+${index.index}" th:onclick="'selectImg('+ ${index.index} +')'" th:src="@{${itemImg.imgUrl}}">
                                    </div>
                                </div>
                                <div class="">
                                    <div th:each="itemImg : ${itemImg}">
                                        <div class="single_product_image_background" th:if="${item.itemId == itemImg.itemId and itemImg.repImgYn=='Y'}">
                                            <img id="itemMainImage" th:src="@{${itemImg.imgUrl}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="product_details">
                        <!-- 상품명 -->
                        <div class="product_details_title">
                            <h2 th:text="${item.itemName}"></h2>
                        </div>
                        <!-- 상품 가격 -->
                        <input type="hidden" id="originalPrice" th:value="${item.price}">
                        <div class="original_price" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></div>
                        <!-- TODO: 배송비 -->
                        <div class="product_shipping_div">
                            <div>
                                    <span th:text="배송비"></span>
                                <span th:text="3500원"></span>
                            </div>
                            <p th:text="|40,000원 이상 구매시 배송비 무료|"></p>
                        </div>
                        <!-- 수량 -->
                        <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                            <span>수량:</span>
                            <div class="quantity_selector">
                                <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                <span class="quantity_value">1</span>
                                <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <!-- TODO: 총 상품 금액 -->
                        <div class="product_totalPay_div">
                            <span th:text="|총 상품 금액|"></span>
                            <div>
                                <p th:text="|총 수량|"></p>
                                <p id="totalCount">1</p>
                                <p th:text="개"></p>
                                <span id="totalPrice" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></span>
                            </div>
                        </div>
                        <!-- 장바구니/구매하기 -->
                        <div class="product_purchase_div" th:if="${#strings.equals(item.itemSellStatus, 'SELL')}">
                            <input type="button" class="cartBtnDetail" th:value="장바구니">
                            <input type="button" id="purchaseBtn" class="green_button" th:value="구매하기">
                        </div>
                        <!-- 품절 -->
                        <div class="product_itemStatus_div" th:if="${#strings.equals(item.itemSellStatus, 'SOLD_OUT')}">
                            <img src="/images/soldOut.png">
                            <span th:text="|이 상품은 현재 구매할 수 없는 상품입니다|"></span>
                        </div>
                        <!-- 관리자 상품 수정/삭제 -->
                        <div class="product_admin_div" sec:authorize="hasAnyAuthority('GUEST')">
                            <input type="button" id="updateButton"  th:onclick="|location.href='@{/item?id={id}(id=${item.itemId})}'|" th:value="|상품 수정|">
                            <input type="button" id="deleteBtn" class="product_delete" th:value="|상품 삭제|">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Tabs -->

        <div class="tabs_section_container">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="tabs_container">
                            <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                                <li class="tab active" data-active-tab="tab_1"><span>상세설명</span></li>
<!--                                <li class="tab" data-active-tab="tab_3"><span>리뷰</span></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Tab Description -->
                        <div id="tab_1" class="tab_container active">
                            <div class="row">
                                <div class="col-lg-5 desc_col">
                                    <div class="tab_title">
                                        <h4>상세 설명</h4>
                                    </div>
                                    <div class="tab_text_block" th:text="${item.itemDetail}"></div>
                                    <div class="tab_image" th:each="itemImg : ${itemImg}" th:if="${item.itemId == itemImg.itemId and itemImg.repImgYn=='Y'}">
                                        <img th:src="@{${itemImg.imgUrl}}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tab Reviews -->
                        <div>
<!--                        <div id="tab_3" class="tab_container">-->
<!--                            <div class="row">-->
<!--                                &lt;!&ndash; User Reviews &ndash;&gt;-->
<!--                                <div class="col-lg-6 reviews_col">-->
<!--                                    <div class="tab_title reviews_title">-->
<!--                                        <h4>리뷰</h4>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; User Review &ndash;&gt;-->
<!--                                    <div class="user_review_container d-flex flex-column flex-sm-row">-->
<!--                                        <div class="user">-->
<!--                                            <div class="user_pic"></div>-->
<!--                                            <div class="user_rating">-->
<!--                                                <ul class="star_rating">-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="review">-->
<!--                                            <div class="review_date">27 Aug 2016</div>-->
<!--                                            <div class="user_name">Brandon William</div>-->
<!--                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    &lt;!&ndash; User Review &ndash;&gt;-->

<!--                                    <div class="user_review_container d-flex flex-column flex-sm-row">-->
<!--                                        <div class="user">-->
<!--                                            <div class="user_pic"></div>-->
<!--                                            <div class="user_rating">-->
<!--                                                <ul class="star_rating">-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="review">-->
<!--                                            <div class="review_date">27 Aug 2016</div>-->
<!--                                            <div class="user_name">Brandon William</div>-->
<!--                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Add Review &ndash;&gt;-->

<!--                                <div class="col-lg-6 add_review_col">-->

<!--                                    <div class="add_review">-->
<!--                                        <form id="review_form" action="post">-->
<!--                                            <div>-->
<!--                                                <h1>Add Review</h1>-->
<!--                                                <input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Name*" required="required" data-error="Name is required.">-->
<!--                                                <input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email*" required="required" data-error="Valid email is required.">-->
<!--                                            </div>-->
<!--                                            <div>-->
<!--                                                <h1>Your Rating:</h1>-->
<!--                                                <ul class="user_star_rating">-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--                                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>-->
<!--                                                </ul>-->
<!--                                                <textarea id="review_message" class="input_review" name="message"  placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>-->
<!--                                            </div>-->
<!--                                            <div class="text-left text-sm-right">-->
<!--                                                <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>-->
<!--                                            </div>-->
<!--                                        </form>-->
<!--                                    </div>-->

<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/styles/bootstrap4/popper.js"></script>
    <script src="/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="/js/single_custom.js"></script>
    <script src="/js/item.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/cart_request.js"></script>
</div>
</html>