<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block layout:fragment="css">
        <link href="/styles/user_style.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/styles/categories_styles.css">
        <link rel="stylesheet" type="text/css" href="/styles/categories_responsive.css">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="content">
    <div class="super_container">
        <div class="container product_section_container">
            <div class="row">
                <div class="col product_section clearfix">
                    <!-- Main Content -->
                    <div class="main_content">
                        <!-- Products -->
                        <div class="products_iso">
                            <div class="row">
                                <div class="col">
                                    <!-- 카테고리 -->
                                    <div class="category-div">
                                        <div>
                                            <a th:href="@{/item/list/{parentCode}(parentCode = ${parentCode})}"><a5 th:text="${categoryName}"></a5></a>
                                        </div>
                                        <div>
                                            <div th:each="categoryList:${categoryList}">
                                                <a th:href="@{/item/list/{categoryCode}(categoryCode = ${categoryList.categoryCode})}"> <p th:text="${categoryList.categoryName}"></p></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-grid" >
                                        <div class="product-item" th:each="item,index : ${item}" th:onclick="|location.href='/item/detail/${item.itemId}'|">
                                            <div class="product_image" th:each="itemImg : ${itemImg}" th:if="${item.itemId == itemImg.itemId and itemImg.repImgYn=='Y'}">
                                                <img th:src="@{${itemImg.imgUrl}}">
                                                <div class="cart-img"><img src="/images/cart.png" class="cartBtn"></div>
                                            </div>
                                            <div class="product_info">
                                                <h6 class="product_name" th:text="${item.itemName}"></h6>
                                                <div class="product_price" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></div>
                                            </div>
                                            <input type="hidden" class="count" th:value="1">
                                            <input type="hidden" class="itemId" th:value="${item.itemId}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/styles/bootstrap4/popper.js"></script>
    <script src="/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="/js/categories_custom.js"></script>
    <script src="/js/cart.js"></script>
</div>
</html>