<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <th:block layout:fragment="css">
        <link href="/styles/user_style.css" type="text/css" rel="stylesheet">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="content">
<!--    <script src="/js/order.js"></script>-->
</div>
</html>
