<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <th:block layout:fragment="css">
        <link href="/styles/user_style.css" type="text/css" rel="stylesheet">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="content" class="main_center">
    <div class="text-center">
        <main class="form-signin">
            <h4 class="h-text"> 비밀번호 찾기 </h4>
            <h6>비밀번호 찾는 방법을 선택해주세요 <br>회원정보에 등록된 이메일 or 휴대폰을 인증하시면<br>비밀번호를 재설정합니다</h6>
            <form action="/user/updatePwForm" method="post" id="form">
                <div class="form-floating">
                    <div class="checks" id="checks">
                        <input type="radio" id="rd" name="auth" value="이메일" checked><label for="rd">이메일 인증</label>
                        <input type="radio" id="rd2" name="auth" value="휴대폰"><label for="rd2">휴대폰 인증</label>
                    </div>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="userId" name="userId">
                    <label for="userId">아이디</label>
                </div>
                <div id="selectEmail">
                    <div class="form-floating phone">
                        <input type="text" class="form-control" id="email" name="email">
                        <label for="email">이메일</label>
                        <input type="button" id="emailSendBtn" value="인증번호">
                    </div>
                </div>
                <div id="selectPhone">
                    <div class="form-floating phone" >
                        <input type="text" class="form-control" id="phone" name="phone">
                        <label for="phone">핸드폰번호</label>
                        <input type="button" id="phoneSendBtn" value="인증번호">
                    </div>
                </div>
                <div class="form-floating" id="info_phone_number">
                    <!-- 인증번호 입력 / +버튼 -->
                    <div class="form-floating" id ="info_phone_num">
                        <input type="text" class="form-control" id="number" name="number">
                        <label for="number">인증번호</label>
                        <div class="form-floating btns">
                            <input type="button" id="resendBtn" value="인증번호 재발송">
                            <input type="button" id="pwResetBtn" value="인증번호 확인" style="background: #dcdcdc" disabled>
                        </div>
                        <input type="hidden" id="confirm">
                    </div>
                </div>
                <div class="error-msg resultVaild" id="resultFail"></div>

            </form>
        </main>
    </div>
    <script>
        const email = document.getElementById('email');
        const phone = document.getElementById('phone');
        const resultFail = document.getElementById("resultFail");
        // const submitBtn = document.querySelector('#submitBtn');
        const id = document.getElementById('userId');
        const phoneSendBtn = document.getElementById('phoneSendBtn');
        const emailSendBtn = document.getElementById('emailSendBtn');
        const confirm = document.getElementById('confirm');
        const resendBtn = document.getElementById('resendBtn');

        $(document).ready(function(){
            $('#selectPhone').hide();	// 초깃값 설정

            $("input[name='auth']").change(function(){
                if($("input[name='auth']:checked").val() == '이메일'){
                    $('#selectPhone').hide();
                    $('#selectEmail').show();
                    resultFail.textContent="";
                    phone.value="";
                    number.value="";
                }
                else if($("input[name='auth']:checked").val() == '휴대폰'){
                    $('#selectEmail').hide();
                    $('#selectPhone').show();
                    resultFail.textContent="";
                    email.value="";
                    number.value="";
                }
            });
        });

        emailSendBtn.addEventListener('click', (e) => {
            if (!id.value || !email.value) {
                resultFail.textContent = "인증할 정보를 입력해주세요";
            } else {
                resultFail.textContent = "";
                if(findPw(id.value, email.value, phone.value)){
                    sendEmail(email.value);
                }else{
                    resultFail.textContent = "해당 정보로 가입된 회원이 없습니다";
                }
            }
        });

        const pwResetBtn = document.getElementById('pwResetBtn');
        const number = document.getElementById('number');

        pwResetBtn.addEventListener('click', (e) => {
            if(confirm.value==number.value){ //인증되면 버튼 색 변경되고 활성화
                alert("인증되었습니다. 비밀번호 재설정 페이지로 이동합니다");
                document.getElementById('form').submit();
            }else{
                resultFail.textContent = "인증 실패했습니다";
                resultFail.style.color='red';
                number.value = "";
                e.preventDefault();
            }
        });

        resendBtn.addEventListener('click', () => {
            number.value = "";
            resultFail.textContent = "";
            if($("input[name='auth']:checked").val() == '이메일'){
                sendEmail(email.value);
            }else if($("input[name='auth']:checked").val() == '휴대폰'){
                sendSms(phone.value);
            }
        });

        phoneSendBtn.addEventListener('click',()=>{
            //휴대폰 인증번호 버튼을 눌렀을때
            if (!id.value || !phone.value) {
                resultFail.textContent = "인증할 정보를 입력해주세요";
            }
            else {
                resultFail.textContent = "";
                if(findPw(id.value, email.value, phone.value)){
                    sendSms(phone.value);
                }else{
                    resultFail.textContent = "해당 정보로 가입된 회원이 없습니다";
                }
            }
        })
        let status;
        function findPw(id,email,phone){
            $.ajax({
                url:  "/user/findPassword",
                type: "POST",
                async:false,
                data: {
                    "userId" : id,
                    "email": email,
                    "phone": phone
                },
                success: function (result) {
                    status = result;
                },
                error: function (request, status, error) {
                    const errorMsg = JSON.parse(request.responseText);
                    alert("ERROR CODE: " + request.status + "\n" +
                        "ERROR MESSAGE: " + errorMsg.message + "\n" +
                        "상태가 지속될 경우 관리자에게 문의해주세요");
                },
            });
            return status;
        }
        function sendEmail(email){
            console.log("sendEmail")
            $.ajax({
                url: "/user/mail",
                type: "POST",
                data: {
                    "email" : email
                },success: function (result){
                    confirm.value=result;
                    pwResetBtn.style.background="#67be38";
                    pwResetBtn.disabled=false;
                },error: function (request, status, error) {
                    const errorMsg = JSON.parse(request.responseText);
                    alert("ERROR CODE: " + request.status + "\n" +
                        "ERROR MESSAGE: " + errorMsg.message + "\n" +
                        "상태가 지속될 경우 관리자에게 문의해주세요");
                },
            });
        }
        function sendSms(phone){
            console.log("sendSms")
            $.ajax({
                url: "/user/sms",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "to" : phone
                }),success: function (result){
                    confirm.value=result;
                    pwResetBtn.style.background="#67be38";
                    pwResetBtn.disabled=false;
                },error: function (request, status, error) {
                    const errorMsg = JSON.parse(request.responseText);
                    alert("ERROR CODE: " + request.status + "\n" +
                        "ERROR MESSAGE: " + errorMsg.message + "\n" +
                        "상태가 지속될 경우 관리자에게 문의해주세요");
                },
            });
        }

    </script>
</div>

</html>