<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <th:block layout:fragment="css">
        <link href="/styles/user_style.css" type="text/css" rel="stylesheet">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="content" class="main_center">
    <div class="text-center">
        <main class="form-sign">
            <h4 class="h-text"> 비밀번호 찾기 </h4>
            <h6>비밀번호 찾는 방법을 선택해주세요 <br>회원정보에 등록된 이메일 or 휴대폰을 인증하시면<br>비밀번호를 재설정합니다</h6>
            <form action="/user/updatePassword" method="post" id="form">
                <div class="form-floating">
                    <div class="checks" id="checks">
                        <input type="radio" id="rd" name="auth" value="email2" checked><label for="rd">이메일 인증</label>
                        <input type="radio" id="rd2" name="auth" value="phone2"><label for="rd2">휴대폰 인증</label>
                    </div>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="userId" name="userId">
                    <label for="userId">아이디</label>
                </div>
                <div id="selectEmail">
                    <div class="form-floating phone">
                        <input type="text" class="form-control" id="email" name="email">
                        <label for="email">이메일</label>
                        <input type="button" id="emailSendBtn" value="인증번호">
                    </div>
                </div>
                <div id="selectPhone">
                    <div class="form-floating phone" >
                        <input type="text" class="form-control" id="phone" name="phone">
                        <label for="phone">핸드폰번호</label>
                        <input type="button" id="phoneSendBtn" value="인증번호">
                    </div>
                </div>
                <div class="form-floating" id="info_phone_number">
                    <!-- 인증번호 입력 / +버튼 -->
                    <div class="form-floating" id ="info_phone_num">
                        <input type="text" class="form-control" id="number" name="number">
                        <label for="number">인증번호</label>
                        <div class="form-floating btns">
                            <input type="button" id="resendBtn" value="인증번호 재발송">
                            <input type="button" id="pwResetBtn" value="인증번호 확인" style="background: #dcdcdc" disabled>
                        </div>
                        <input type="hidden" id="confirm">
                    </div>
                </div>
                <div class="error-msg result-valid" id="resultFail"></div>

            </form>
        </main>
    </div>
    <script src="/js/find_account.js"></script>
</div>

</html>