<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <title>회원가입</title>
  <th:block layout:fragment="css">
    <link href="/styles/user_style.css" type="text/css" rel="stylesheet">
  </th:block>
  <th:block layout:fragment="script"></th:block>
</head>

<div layout:fragment="content" class="main_center">
  <div class="text-center">
    <main class="form-signin">
      <h4 class="h-text"> 회원 가입 </h4>
      <form th:action="@{/join}" method="POST">
        <div class="form-floating" id="info_id">
          <input type="text" class="form-control" id="userId" name="userId">
          <label for="userId">아이디</label>
          <div class="error-msg signVaild"></div>
        </div>
        <div class="form-floating" id="info_pw" >
          <input type="password" class="form-control" id="password" name="password">
          <label for="password">비밀번호</label>
          <div class="error-msg signVaild"></div>
        </div>
        <div class="form-floating" id="info_pw2">
          <input type="password" class="form-control" id="password2" name="password2">
          <label for="password2">비밀번호 확인 </label>
          <div class="error-msg signVaild"></div>
        </div>
        <div class="form-floating" id="info_name">
          <input type="text" class="form-control" id="username" name="username">
          <label for="username">이름</label>
          <div class="error-msg signVaild"></div>
        </div>
        <div id="info_phone">
          <div class="form-floating phone" >
            <input type="text" class="form-control" id="phone" name="phone">
            <label for="phone">핸드폰번호</label>
            <input type="button" id="sendBtn" value="인증번호">
          </div>
          <div class="error-msg signVaild"></div>
        </div>

        <!--인증번호-->
        <div class="form-floating" id="info_phone_number">
          <div class="form-floating" id ="info_phone_num" style="display:none;">
            <input type="text" class="form-control" id="number" name="number">
            <label for="number">인증번호</label>

            <div class="form-floating btns">
              <input type="button" id="resendBtn" value="인증번호 재발송">
              <input type="button" id="confirmBtn" value="인증번호 확인">
            </div>
            <input type="hidden" id="confirm">
          </div>
          <div class="error-msg signVaild"></div>
        </div>

        <div class="form-floating" id="info_email">
          <input type="email" class="form-control" id="email" name="email">
          <label for="email">이메일</label>
          <div class="error-msg signVaild"></div>
        </div>
        <div id="resultFail" class="error-msg resultVaild"></div>
        <div>
          <button class="yellow_button shop_sign_button" type="submit" id="submitBtn">회원가입</button>
        </div>
      </form>
    </main>

  </div>
  <script src="/js/join.js"></script>

</div>
</html>
