<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>로그인</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css" href="/styles/user_style.css">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>

<div layout:fragment="content" class="main_center">
    <div class="text-center">
        <main class="form-signin">
            <h4 class="h-text"> 로그인 </h4>
            <form action="/login" method="POST" id="formLogin">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="username" th:onchange="inputNullCheck()">
                    <label for="floatingInput">아이디</label>
                    <span class="signVaild" id="vaildId"></span>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password" th:onchange="inputNullCheck()">
                    <label for="floatingPassword">비밀번호</label>
                    <span class="signVaild" id="vaildPassword"></span>
                </div>
                <div>
                    <span class="signVaild" th:text="${exception}"></span>
                </div>
                <div class="sign_check">
                    <input type="checkbox" id="idSaveCheck"> 아이디 저장
                </div>

                <div>
                    <button class="green_button shop_sign_button" type="submit" id="loginBtn">로그인</button>
                </div>
                <div class="signV">
                    <a href="/user/join">회원가입</a>
                    <a>|</a>
                    <a th:href="@{/user/findId}">아이디 찾기</a>
                    <a>|</a>
                    <a th:href="@{/user/findPw}">비밀번호 찾기</a>
                </div>

            </form>
            <div class="sns_login">
                <a> SNS 간편 로그인 </a>
            </div>
            <div class = "mb-2" id="socialDiv">
                <a href="/oauth2/authorization/google"><img src="/images/google.png"></a>
                <a href="/oauth2/authorization/kakao"><img src="/images/kakao.png"></a>
                <a href="/oauth2/authorization/naver"><img src="/images/naver.png"></a>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        let inputStatus;
        const idInputEl = document.getElementById("floatingInput");
        const pwInputEl = document.getElementById("floatingPassword");

        const loginBtn = document.querySelector('#loginBtn');
        loginBtn.addEventListener('click', (e) => {
            if(!inputNullCheck()){
                e.preventDefault();
            }
        });
        function inputNullCheck(){
            if(!idInputEl.value){
                $("#vaildId").html("아이디를 입력해주세요");
                inputStatus = false;
            }else if(!pwInputEl.value){
                $("#vaildPassword").html("비밀번호를 입력해주세요");
                inputStatus = false;
            } else{
                $("#vaildId").html("");
                $("#vaildPassword").html("");
                inputStatus = true;
            }
            return inputStatus;
        }

        $(document).ready(function(){
            let key = getCookie("idChk"); //user1
            if(key!=""){
                $("#floatingInput").val(key);
            }

            if($("#floatingInput").val() != ""){
                $("#idSaveCheck").attr("checked", true);
            }

            $("#idSaveCheck").change(function(){
                if($("#idSaveCheck").is(":checked")){
                    setCookie("idChk", $("#floatingInput").val(), 7);
                }else{
                    deleteCookie("idChk");
                }
            });

            $("#floatingInput").keyup(function(){
                if($("#idSaveCheck").is(":checked")){
                    setCookie("idChk", $("#floatingInput").val(), 7);
                }
            });

        });
        function setCookie(cookieName, value, exdays){
            let exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            let cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
            document.cookie = cookieName + "=" + cookieValue;
        }

        function deleteCookie(cookieName){
            let expireDate = new Date();
            expireDate.setDate(expireDate.getDate() - 1);
            document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
        }

        function getCookie(cookieName) {
            cookieName = cookieName + '=';
            let cookieData = document.cookie;
            let start = cookieData.indexOf(cookieName);
            let cookieValue = '';
            if(start != -1){
                start += cookieName.length;
                let end = cookieData.indexOf(';', start);
                if(end == -1)end = cookieData.length;
                cookieValue = cookieData.substring(start, end);
            }
            return unescape(cookieValue);
        }
    </script>

</div>
</html>