<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>로그인</title>
    <th:block layout:fragment="css">
        <link href="/styles/user_style.css" type="text/css" rel="stylesheet">
    </th:block>
</head>

<div layout:fragment="content" class="main_center">
    <div class="text-center">
        <main class="form-sign">
            <h4 class="h-text"> 로그인 </h4>
            <form th:action="@{/login}" method="POST" id="formLogin">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="username" th:onchange="inputNullCheck()">
                    <label for="floatingInput">아이디</label>
                    <span class="sign-valid" id="validId"></span>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password" th:onchange="inputNullCheck()">
                    <label for="floatingPassword">비밀번호</label>
                    <span class="sign-valid" id="validPassword"></span>
                </div>
                <div>
                    <span class="sign-valid" th:text="${exception}"></span>
                </div>
                <div class="sign-check">
                    <input type="checkbox" id="idSaveCheck"> 아이디 저장
                </div>

                <div>
                    <button class="green_button shop_sign_button" type="submit" id="loginBtn">로그인</button>
                </div>
                <div class="sign-div">
                    <a href="/user/join">회원가입</a>
                    <a>|</a>
                    <a th:href="@{/user/findId}">아이디 찾기</a>
                    <a>|</a>
                    <a th:href="@{/user/findPassword}">비밀번호 찾기</a>
                </div>

            </form>
            <div class="sns-login">
                <a> SNS 간편 로그인 </a>
            </div>
            <div class="mb-2" id="socialDiv">
                <a href="/oauth2/authorization/google"><img src="/images/google.png"></a>
                <a href="/oauth2/authorization/kakao"><img src="/images/kakao.png"></a>
                <a href="/oauth2/authorization/naver"><img src="/images/naver.png"></a>
            </div>
        </main>
    </div>
    <script src="/js/login.js"></script>
</div>
</html>