<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutS/layout}">
<head>
    <title>마이페이지</title>
    <th:block layout:fragment="css">
        <link href="styles/user_style.css" type="text/css" rel="stylesheet">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="content" class="main_center">
    <div class="text-center">
        <main>
            <h4 class="h-text c">마이페이지</h4>
            <div class="content-ver">
                <div class="content-ver line">
                    <ul>
                        <li>
                            <a>주문 완료</a>
                            <span th:text="${orderCount}"></span>
                        </li>
                        <li>
                            <a>배송 중</a>
                            <span th:text="${shippingCount}"></span>
                        </li>
                        <li>
                            <a>배송 완료</a>
                            <span th:text="${deliveredCount}"></span>
                        </li>
                        <li>
                            <a>주문 취소</a>
                            <span th:text="${cancelCount}"></span>
                        </li>
                    </ul>

                </div>
            </div>

         <input type="hidden"  id="id" th:value="${userId}">
            <div class="form-page">
                <div class="form-page n" onclick="location.href='/mypage/order'" >
                    <img src="/images/order.png">
                    <a>주문 내역</a>
                    <p>고객님께서 주문하신 상품의 <br>주문내역을 확인할 수 있습니다</p>
                </div>
                <div class="form-page n" onclick="location.href='/user/update'">
                    <img src="/images/account.png">
                    <a>회원 정보</a>
                    <p>고객님의 개인정보를 <br>관리할 수 있습니다</p>
                </div>
<!--                <div class="form-page n">-->
<!--                    <img src="/images/address.png">-->
<!--                    <a>주소록 관리</a>-->
<!--                    <p>고객님의 배송지를 <br>관리할 수 있습니다</p>-->
<!--                </div>-->
<!--                <div class="form-page n">-->
<!--                    <img src="/images/good.png">-->
<!--                    <a>관심 상품</a>-->
<!--                    <p>관심 상품으로 등록한 상품의 <br>목록을 확인할 수 있습니다</p>-->
<!--                </div>-->
            </div>

        </main>
    </div>
</div>
</html>
