<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 찾기</title>
  <th:block layout:fragment="css">
    <link href="/styles/user_style.css" type="text/css" rel="stylesheet">
  </th:block>
  <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="content" class="main_center">
  <div class="text-center">
    <main class="form-signin">
      <h4 class="h-text"> 비밀번호 재설정 </h4>
      <form id="pwResetForm">
        <div class="form-floating">
          <input type="text" class="form-control" id="userId" name="userId" th:value="${userId}" readonly>
          <label for="userId">아이디</label>
        </div>
        <div class="form-floating" id="div_pw1">
          <input type="password" class="form-control" id="password" name="password">
          <label for="password">새 비밀번호</label>
          <div class="error-msg resultVaild"></div>
        </div>
        <div class="form-floating" id="div_pw2">
          <input type="password" class="form-control" id="password2" name="password2">
          <label for="password2">새 비밀번호 확인</label>
          <div class="error-msg resultVaild"></div>
        </div>

        <button class="green_button shop_sign_button" type="submit" id="submitBtn">비밀번호 변경</button>
      </form>
    </main>
  </div>
  <script>
    const pwInputEl = document.getElementById('password');
    const pwInputEl2 = document.getElementById('password2');
    const pwErrorMsgEl = document.querySelector('#div_pw1 .error-msg');

    let status=false;

    pwInputEl.addEventListener('keyup',() => {
      const pwRegExp = /^(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9!@#$%^&*;()._-]{6,16}$/;
      if(pwRegExp.test(pwInputEl.value)){
        pwErrorMsgEl.textContent = "";
      }else{
        pwErrorMsgEl.textContent = "비밀번호는 6자 이상 16자 이하, 영문(대소문자),숫자,특수문자 2가지 포함하여 입력해주세요"
        status=false;
      }
    });

    /** ***** 비밀번호 확인 체크 ******/
    const pw2ErrorMsgEl =document.querySelector('#div_pw2 .error-msg');
    pwInputEl2.addEventListener('keyup', () => {
      if(pwInputEl.value == pwInputEl2.value){
        pw2ErrorMsgEl.textContent = "비밀번호가 일치합니다";
        pw2ErrorMsgEl.style.color='green';
        status=true;
      }else{
        pw2ErrorMsgEl.textContent = "비밀번호가 일치하지 않습니다";
        pw2ErrorMsgEl.style.color='red';
        status=false;
      }
    });

    let index = {
      init: function (){
        document.getElementById('submitBtn').addEventListener('click', (e)=>{
          if(pwInputEl&&pwInputEl2&&status){
            this.pwReset();
          }else{
            pw2ErrorMsgEl.textContent = "변경할 비밀번호를 확인해주세요";
            e.preventDefault();
          }

        });
      },
      pwReset: function (){
        let data={
          userId:  document.getElementById('userId').value,
          password: document.getElementById('password').value,
        };
        $.ajax({
          type: "POST",
          url: "/user/updatePassword",
          data: JSON.stringify(data),
          contentType: "application/json; charset=utf-8",
          dataType:"json"
        }).done(function (resp){
          location.href="/login";
        }).fail(function(error){
          alert(JSON.stringify(error));
        });
      }
    }
    index.init();

  </script>
  <script src="/js/sign.js"></script>
</div>

</html>