<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <title>회원 정보 수정</title>
  <th:block layout:fragment="css">
    <link href="/styles/user_style.css" type="text/css" rel="stylesheet">
  </th:block>
  <th:block layout:fragment="script">

  </th:block>
</head>

<div layout:fragment="content" class="main_center">
  <div class="text-center">
    <main class="form-sign">
      <h4 class="h-text"> 회원 정보 수정 </h4>
      <form id="updateForm" name="updateForm">
        <input type="hidden" id="providerId" th:value="${user.providerId}">
        <div class="form-floating" id="info_id">
          <input type="text" class="form-control" id="userId" name="userId"  th:value="${user.userId}" readonly>
          <label for="userId">아이디</label>
          <!--                   <span class="signVaild" id="vaildId"></span>-->
          <div class="error-msg sign-valid"></div>
        </div>
        <div class="form-floating" id="info_pw" >
          <input type="password" class="form-control" id="password" name="password" th:readonly="${user.providerId != null ? 'readonly':false}">
          <label for="password">비밀번호</label>
          <!--                    <span class="signVaild" id="vaildPassword"></span>-->
          <div class="error-msg sign-valid"></div>
        </div>
        <div class="form-floating" id="info_pw2">
          <input type="password" class="form-control" id="password2" name="password2" th:readonly="${user.providerId != null ? 'readonly':false}">
          <label for="password2">비밀번호 확인 </label>
          <!--                    <span class="signVaild" id="vaildPassword2"></span>-->
          <div class="error-msg sign-valid"></div>
        </div>
        <div class="form-floating" id="info_name">
          <input type="text" class="form-control" id="username" name="username" th:value="${user.username}" th:readonly="${user.providerId != null ? 'readonly':false}">
          <label for="username">이름</label>
          <div class="error-msg sign-valid"></div>
        </div>
        <div class="form-floating phone">
          <input type="text" class="form-control" id="zipcode" name="zipcode" th:value="${user.zipcode}" readonly>
          <label for="zipcode">우편번호</label>
          <input type="button" id="addrSearch" value="주소 검색">

        </div>
        <div class="form-floating phone">
          <input type="text" class="form-control" id="streetAdr" name="streetAdr" th:value="${user.streetAdr}" readonly>
          <label for="streetAdr">주소</label>

        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="detailAdr" name="detailAdr" th:value="${user.detailAdr}">
          <label for="detailAdr">상세주소</label>
        </div>
        <div>
          <div class="form-floating" id="info_phone">
            <input type="number" class="form-control" id="phone" name="phone" th:value="${user.phone}">
            <input type="hidden" id="phoneOrigin" th:value="${user.phone}">
            <label for="phone">핸드폰번호</label>
            <div class="error-msg sign-valid"></div>
          </div>

        </div>

        <div class="form-floating" id="info_email">
          <input type="email" class="form-control" id="email" name="email" th:value="${user.email}" th:readonly="${user.providerId != null ? 'readonly':false}">
          <input type="hidden" id="emailOrigin" th:value="${user.email}">
          <label for="email">이메일</label>
          <div class="error-msg sign-valid"></div>
        </div>
        <div id="resultFail" class="error-msg result-valid"></div>
        <div>
          <button class="green_button shop_sign_button" type="submit" id="updateBtn">회원 정보 수정</button>
        </div>
      </form>
    </main>

  </div>
  <script src="/js/address.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/user.js"></script>
  <script>
    // document.addEventListener('DOMContentLoaded',()=>{
    //   if(nameInputEl){
    //     account.name=nameInputEl.value;
    //   }
    //   if(phoneInputEl){
    //     account.phone=phoneInputEl.value;
    //   }
    //   if(emailInputEl){
    //     account.email = emailInputEl.value;
    //   }
    // });
    // let account = { pw: null, pw2: null, name: null,phone: null,email: null };

    // const errMsg = {
    //   id: {
    //     invalid: "6~16자의 영문 소문자와 숫자를 조합해주세요",
    //     success: "사용 가능한 아이디입니다",
    //     fail: "이미 가입한 아이디입니다"
    //   },
    //   pw: "비밀번호는 6자 이상 16자 이하, 영문(대소문자),숫자,특수문자 2가지 포함하여 입력해주세요",
    //   pwCk: {
    //     success: "비밀번호가 일치합니다",
    //     fail: "비밀번호가 일치하지 않습니다"
    //   },
    //   name: "이름은 2자 이상 10자 이하, 한글,영문(대소문자),숫자로 입력해주세요",
    //   phone: {
    //     invalid: "'-' 제외 숫자만 입력해주세요",
    //     success: "사용 가능한 핸드폰 번호입니다",
    //     fail: "이미 가입한 핸드폰 번호입니다"
    //   },
    //   email: {
    //     invalid: "이메일 형식으로 입력해주세요",
    //     success: "사용 가능한 이메일입니다",
    //     fail: "이미 가입한 이메일입니다"
    //   }
    // }

    // /** 비밀번호 정규식 체크 */
    // const pwInputEl = document.querySelector('#info_pw input');
    // const pwErrorMsgEl = document.querySelector('#info_pw .error-msg');
    //
    // pwInputEl.addEventListener('keyup',() => {
    //   const pwRegExp = /^(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9!@#$%^&*;()._-]{6,16}$/;
    //   if(pwRegExp.test(pwInputEl.value)){
    //     pwErrorMsgEl.textContent = "";
    //     account.pw = pwInputEl.value;
    //   }else{
    //     pwErrorMsgEl.textContent = errMsg.pw;
    //     account.pw = null;
    //   }
    // });
    //
    // /** ***** 비밀번호 확인 체크 ******/
    // const pw2InputEl = document.querySelector('#info_pw2 input');
    // const pw2ErrorMsgEl = document.querySelector('#info_pw2 .error-msg');
    //
    // pw2InputEl.addEventListener('keyup', () => {
    //   if(pwInputEl.value == pw2InputEl.value){
    //     pw2ErrorMsgEl.textContent = errMsg.pwCk.success;
    //     pw2ErrorMsgEl.style.color='green';
    //     account.pw2 = pw2InputEl.value;
    //   }else{
    //     pw2ErrorMsgEl.textContent = errMsg.pwCk.fail;
    //     pw2ErrorMsgEl.style.color='red';
    //     account.pw2 = null;
    //   }
    // });
    //
    // /** ***** 이름 정규식 체크 ******/
    // const nameInputEl = document.querySelector('#info_name input');
    // const nameErrorMsgEl = document.querySelector('#info_name .error-msg');
    //
    // nameInputEl.addEventListener('keyup', ()=> {
    //   const nameRegExp = /^(?=.*[a-z0-9가-힣])[a-z0-9가-힣]{2,10}$/;
    //   if(nameRegExp.test(nameInputEl.value)){
    //     nameErrorMsgEl.textContent = "";
    //     account.name = nameInputEl.value;
    //   }else{
    //     nameErrorMsgEl.textContent = errMsg.name;
    //     account.name = null;
    //   }
    // });
    //
    // /** 전화번호 정규식 + 중복 체크 */
    // const phoneInputEl = document.querySelector('#info_phone input');
    // const phoneErrorMsgEl = document.querySelector('#info_phone .error-msg');
    //
    // /** 전화번호 중복 / 정규식 체크 */
    // phoneInputEl.addEventListener('keyup',()=>{
    //   const phoneRegExp = /^\d{3}\d{3,4}\d{4}$/;
    //   if (phoneRegExp.test(phoneInputEl.value)) {
    //     checkDataTel(phoneInputEl.value);
    //   } else {
    //     phoneErrorMsgEl.textContent = errMsg.phone.invalid;
    //     phoneErrorMsgEl.style.color = 'red';
    //     account.phone = null;
    //   }
    // });
    // function checkDataTel(phone) { //전화번호 중복 체크
    //   $.ajax({
    //             url: '/user/checkPhone',
    //             type: 'POST', //POST 방식으로 전달
    //             data: {
    //               "phone": phone
    //             },
    //             async:false,
    //             success: function (result) {
    //               if (!result) {
    //                 phoneErrorMsgEl.textContent = errMsg.phone.success;
    //                 phoneErrorMsgEl.style.color='green';
    //                 account.phone = phoneInputEl.value;
    //               } else {
    //                 phoneErrorMsgEl.textContent = errMsg.phone.fail;
    //                 phoneErrorMsgEl.style.color='red';
    //                 account.phone = null;
    //               }
    //             },
    //             error: function (request, status, error) {
    //               const errorMsg = JSON.parse(request.responseText);
    //               alert("ERROR CODE: " + request.status + "\n" +
    //                       "ERROR MESSAGE: " + errorMsg.message + "\n" +
    //                       "상태가 지속될 경우 관리자에게 문의해주세요");
    //             }
    //           }
    //   );
    // }
    //
    //
    // /** 이메일 정규식 체크 */
    // const emailInputEl = document.querySelector('#info_email input');
    // const emailErrorMsgEl = document.querySelector('#info_email .error-msg');
    //
    // emailInputEl.addEventListener('keyup', () => {
    //   const emailRegExp = /^[a-zA-Z0-9+-\_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
    //   if(emailRegExp.test(emailInputEl.value)){
    //     checkDataEmail(emailInputEl.value)
    //   }else{
    //     emailErrorMsgEl.textContent = errMsg.email.invalid;
    //     emailErrorMsgEl.style.color='red';
    //     account.email = null;
    //   }
    // });
    // function checkDataEmail(email) {
    //   $.ajax({
    //             url: '/user/checkEmail',
    //             type: 'POST', //POST 방식으로 전달
    //             data: {
    //               "email": email
    //             },
    //             async:false,
    //             success: function (result) {
    //               if (!result) {
    //                 emailErrorMsgEl.textContent = errMsg.email.success;
    //                 emailErrorMsgEl.style.color='green';
    //                 account.email = emailInputEl.value;
    //               } else {
    //                 emailErrorMsgEl.textContent = errMsg.email.fail;
    //                 emailErrorMsgEl.style.color='red';
    //                 account.email = null;
    //               }
    //             },
    //             error: function (request, status, error) {
    //               const errorMsg = JSON.parse(request.responseText);
    //               alert("ERROR CODE: " + request.status + "\n" +
    //                       "ERROR MESSAGE: " + errorMsg.message + "\n" +
    //                       "상태가 지속될 경우 관리자에게 문의해주세요");
    //             }
    //           }
    //   );}
    // /*** SUBMIT ***/
    // const submitBtn = document.getElementById('submitBtn');
    // const resultFailEl = document.getElementById('resultFail');
    // const providerId = document.getElementById('providerId');
    // submitBtn.addEventListener('click', (e)=>{
    //
    //   // let formData = $('form[name=form_update]').serialize();
    //   let isAllFilled = true;
    //   const userId = idInputEl;
    //
    //   const word = {
    //     pw: "비밀번호를",
    //     pw2: "비밀번호가 일치하는지",
    //     name: "이름을",
    //     email: "이메일을",
    //     phone: "휴대폰 번호를",
    //   }
    //   let formData = {
    //     userId: idInputEl.value,
    //     email: emailInputEl.value,
    //     phone: phoneInputEl.value,
    //     password: pwInputEl.value,
    //     username: nameInputEl.value,
    //     zipcode: document.getElementById('zipcode').value,
    //     streetAdr: document.getElementById('streetAdr').value,
    //     detailAdr: document.getElementById('detailAdr').value
    //   };
    //   if(providerId.value.length==0){
    //     for(let element in account){
    //       if(!account[element]){
    //         resultFailEl.textContent = word[element]+" 다시 확인해주세요";
    //         isAllFilled = false;
    //         e.preventDefault();
    //         break;
    //       }
    //     }
    //   }else{
    //     isAllFilled=true;
    //   }
    //   if(isAllFilled === true){
    //     resultFailEl.textContent = "";
    //     $.ajax({
    //       type: "PUT",
    //       url: "/api/user/"+userId.value,
    //       data: JSON.stringify(formData),
    //       contentType: "application/json; charset=utf-8",
    //       dataType: "json",
    //       async : false,
    //       success: function (response){
    //         e.preventDefault()
    //         location.href="/mypage";
    //
    //       },
    //       error: function (error){
    //         console.error("에러",error);
    //       }
    //     });
    //   }
    // });
  </script>
</div>
</html>
