<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 찾기</title>
  <th:block layout:fragment="css">
    <link href="/styles/user_style.css" type="text/css" rel="stylesheet">
  </th:block>
  <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="content" class="main_center">
  <div class="text-center">
    <main class="form-sign">
      <h4 class="h-text"> 비밀번호 재설정 </h4>
      <form id="pwResetForm">
        <div class="form-floating">
          <input type="text" class="form-control" id="userId" name="userId" th:value="${userId}" readonly>
          <label for="userId">아이디</label>
        </div>
        <div class="form-floating" id="info_pw">
          <input type="password" class="form-control" id="password" name="password">
          <label for="password">새 비밀번호</label>
          <div class="error-msg result-valid"></div>
        </div>
        <div class="form-floating" id="info_pw2">
          <input type="password" class="form-control" id="password2" name="password2">
          <label for="password2">새 비밀번호 확인</label>
          <div class="error-msg result-valid"></div>
        </div>

        <button class="green_button shop_sign_button" type="submit" id="updatePwBtn">비밀번호 변경</button>
      </form>
    </main>
  </div>
  <script src="/js/user.js"></script>
</div>
</html>