<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>주문</title>
  <th:block layout:fragment="css">
    <link href="/styles/user_style.css" type="text/css" rel="stylesheet">
    <link href="/styles/cart_style.css" type="text/css" rel="stylesheet">
  </th:block>
  <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="content">
  <div class="main_form">
    <div class="text-center">
      <h4 class="h-text c">장바구니</h4>
      <form>
        <div class="cart_form">
          <h5 class="h-text"> 주문 상품</h5>

          <div class="cart_form_flex">
            <input type="checkbox" id="allCheck">
            <span th:text="|전체 선택|"> </span>

          </div>
          <div th:each="cartItem,index : ${cartItemList}">
            <div class="cart_item_div" th:each="item: ${itemList}" th:if="${cartItem.itemId==item.itemId}">
              <input type="checkbox">
              <div class="cart_item_div form" th:onclick="|location.href='@{/item/detail/{id}(id=${item.itemId})}'|">
                  <img th:each="regImg: ${regImgList}" th:if="${regImg.itemId==item.itemId}" th:src="@{${regImg.imgUrl}}" >
                  <span th:text="${item.itemName}"></span>
              </div>
              <div class="count_form">
                <div class="quantity_selector">
                    <input type="hidden" class="cartItemId" th:value="${cartItem.id}">
                  <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                  <span class="quantity_value" th:text="${cartItem.count}"></span>
                  <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                </div>
                <input type="button" class="countBtn" th:value="변경">
                </div>
                <input type="hidden" class="originPrice" th:value="${item.price}">
                <p class="price" th:text="(${item.price}*${cartItem.count})+'원'"></p>
                <input type="button" class="deleteCartItem" th:value="|상품 삭제|">
            </div>
          </div>
        </div>



        <div id="resultFail" class="error-msg checkResult"></div>
        <!-- 결제하기/취소 버튼 -->
        <div class="cart_button_div">
          <input type="button" id="payBtn" th:value="구매하기">
        </div>
      </form>

    </div>
  </div>

  <script src="/js/cart.js"></script>
</div>
</html>