@charset "utf-8";
/* CSS Document */

/******************************

COLOR PALETTE




[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Home
	3.1 Currency
	3.2 Language
	3.3 Account
	3.4 Main Navigation
	3.5 Hamburger Menu
	3.6 Logo
4. Products
	4.1 Product Sorting
5. Breadcrumbs
6. Sidebar
7. Main Content
8. Benefit
9. Newsletter
10. Footer



******************************/

/***********
1. Fonts
***********/
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@400;500;700;800;900&display=swap');

/*********************************
7. Main Content
*********************************/

.main_content
{
	margin-top: 100px;
	float: left;
	width: calc(100% - 200px);
	padding-left: 34px;
}

.product-grid
{
	width: 100%;
	margin-top: 20px;
}
.product-item
{
	width: 25%;
	height: 350px;
	cursor: pointer;
	position :relative;
}
.product
{
	width: 100%;
	height: 340px;
	border-right: none
}
.product_image
{
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: 100%;
	display: flex;
}
.product_image img
{
	border-radius: 10px;
	width: 100%;
}
.product_info
{
	text-align: left;
	padding-left: 20px;
	padding-right: 10px;

}

.soldOut_div {
	width: 90px;
	height: 30px;
	background: #383838;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 11;
}

.product_image span{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 13px;
	width: 90px;
	height: 30px;
	background: #000000;
	position: absolute;
	opacity: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}
.itemSoldOut{
	background: #ffffff;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 40%;
}

.product_name
{
  	margin-top: 10px;
	height: 30px;
}
.product_name a
{
	color: #262626;
	/*line-height: 20px;*/
	/*margin-bottom: 10px;*/
}
.discount .product_info .product_price
{
	font-size: 14px;
}
.product_price
{
	margin-top: 20px;
	font-size: 17px;
	color: #000000;
	font-weight: 600;
}
.product_price span
{
	font-size: 12px;
	margin-left: 10px;
	color: #b5aec4;
	text-decoration: line-through;
}

.product-item:hover .add_to_cart_button
{
	visibility: visible;
	opacity: 1;
}

.cart-img img{
	width: 40px;
	height: auto;
	position:absolute;
	bottom: 15px;
	right: 15px;
	/*visibility: hidden;*/
	opacity: 80%;
}
.category-div{
	margin-top: 40px;
}
.category-div div a5{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #1f1f1f;
}
.category-div div{
	display: flex;
	justify-content: center;
	cursor: pointer;
	/*margin-bottom: 20px;*/
}

.category-div p {
	margin: 40px;
	font-size: 16px;
	color: #464646;
	font-weight: 200;
}

.itemPaging_div{
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: 'Noto Sans KR', sans-serif;
	margin-top: 50px;
	margin-bottom: 30px;
}
.itemPaging_div i{
	margin-left: 10px;
	margin-right: 10px;
}
.itemPaging_div span{
	margin-left: 5px;
	margin-right: 5px;
	/*cursor: pointer;*/
}