
/*********************************
4. Breadcrumbs
*********************************/

.breadcrumbs
{
	width: 100%;
	height: 60px;
	border-bottom: solid 1px #ebebeb;
	margin-bottom: 60px;
}
.breadcrumbs ul li
{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

/*********************************
5. Single Product Section
*********************************/

.single_product_container
{
	margin-top: 130px;
	padding-bottom: 50px;
	border-bottom: solid 1px #ebebeb;
}
.single_product_image_background
{
	position: absolute;
	/*top: -10px;*/
	right: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.single_product_image_background img
{
	margin-left: 30px;
	border-radius: 10px;
}
.product_image_div{
	display: flex;
	margin-left: 10px;
}
.image_div{
	display: block;
}
.image_div img{
	width: 150px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.image_div img:hover{
	border: solid 1px #d0d0d0;
}
.product_div{
	height: 500px;
}

/*********************************
6. Product Details
*********************************/

.product_details
{
	width: 100%;
	height: 500px;
	position : relative;
}
.product_details_title
{
	font-weight: 500px;
	line-height: 30px;
}
.price_calorie
{
	display: flex;
	justify-content: space-between;
}
.price_calorie div
{
	display: flex;
}
.price_calorie span
{
	font-weight: 500;
	color: #212121;
	font-size: 25px;
	line-height: 30px;
	margin-top: 21px;
}
.price_calorie p{
	font-weight: 500;
	color: #646464;
	font-size: 18px;
	line-height: 30px;
	margin-top: 22px;
	margin-left: 5px;
}
.product_purchase_div{
	display: flex;
	margin-top: 10px;
	float: right;
	width: 100%;
}
.product_purchase_div input[type="button"]{
	margin-top: 30px;
	width: 100%;
	height: 50px;
}
.product_purchase_div #purchaseBtn{
	margin-left: 10px;
}
.product_purchase_div .cartBtnDetail{
	background: #ffffff;
	border: solid 1px #cccccc;
	border-radius: 4px;
}

.product_admin_div{
	display: flex;
	justify-content: right;
	margin-top: 10px;
	float: right;
	width: 100%;
	position : absolute;
	bottom : 0;

}
.product_admin_div input[type="button"]{
	width: 25%;
	height: 45px;
	background: #dcdcdc;
	border: solid 1px #e5e5e5;
	border-radius: 3px;
}
.product_delete{
	background: #9b9b9b !important;
	margin-left: 10px;
}
.quantity
{
	width: 100%;
	height: 40px;
	margin-top: 23px;
}
.quantity_selector
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 132px;
	height: 100%;
	border: solid 1px #e5e5e5;
	margin-left: 29px;
}
.quantity_selector span
{
	font-weight: 500;
	color: #383838;
}
.plus,
.minus
{
	padding-left: 14px;
	padding-right: 14px;
	cursor: pointer;
}
.plus:hover,
.minus:hover
{
	color: #a8a8a8;
}
.product_shipping_div div{
	display: flex;
	margin-top: 20px;
}
.product_shipping_div span{
	margin-right : 20px;
}
.product_shipping_div p{
	font-weight: 200;
}

.product_totalPay_div{
	display: flex;
	margin-top: 30px;
	align-items: center;
	padding-bottom: 10px;
	padding-top: 10px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.product_totalPay_div span{
	width: 100px;
}
.product_totalPay_div div{
	width: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
}
.product_totalPay_div div span{
	color: #e76363;
	min-width: 150px;
	right: 0;
	font-size: 26px;
	text-align: right;
	justify-content: center;
	font-weight: 500;
	/*margin-left: 30px;*/
}
.product_totalPay_div div p{
	margin-left: 5px;
	margin-right: 5px;
	font-weight: 200;
	display: contents;
}
.product_itemStatus_div {
	width: 100%;
	display: grid;
	justify-items: center;
	text-align: center;
	margin-bottom: 20px;
}
.product_itemStatus_div img{
	width: 10%;
	opacity: 80%;
	margin: 20px;
}
.product_itemStatus_div span{
	font-size: 15px;
}


/*********************************
7. Tabs
*********************************/

.tabs_section_container
{
	width: 100%;
	padding-bottom: 80px;
	border-bottom: solid 1px #ebebeb;
}
.tabs_container
{
	margin-top: 66px;
	margin-bottom: 66px;
}
.tabs
{

}
.tab
{
	margin-right: 50px;
	cursor: pointer;
}
.tab:last-child
{
	margin-right: 0px;
}
.tab span
{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 500;
	color: #212121;
}
.tab:hover span
{
	color: #b5aec4;
}
.tab.active span
{
	color: #212121;
	border-bottom: solid 1px #606060;
}
.tab_container
{

	width: 100%;
	display: none;
}
.tab_container.active
{
	display: block;
}

/*********************************
7.1 Description
*********************************/

.desc_col
{

}
.tab_title
{
	margin-bottom: 50px;
}
.tab_title h4
{
	display: inline-block;
	color: #212121;
	border-bottom: solid 1px #828586;
}
.tab_text_block
{
	margin-bottom: 50px;
}
.tab_text_block p
{
	font-weight: 400;
	margin-top: 10px;
}
.tab_image
{
	width: 100%;
	margin-bottom: 131px;
}
.tab_image img
{
	width: 100%;
}
.desc_last
{
	margin-bottom: 0px;
}

/*********************************
7.3 Reviews
*********************************/

.reviews_title
{
	margin-bottom: 58px;
}
.user_review_container
{
	width: 100%;
	margin-bottom: 37px;
}
.reviews_col
{
	padding-right: 30px;
}
.user_pic
{
	width: 70px;
	height: 70px;
	background: #ebebeb;
	border-radius: 50%;
}
.user_rating .star_rating
{
	margin-left: 5px;
	margin-top: 13px;
}
.user_rating .star_rating li
{
	margin-right: -3px;
}
.user_rating .star_rating li i
{
	font-size: 12px;
}
.review
{
	padding-left: 30px;
}
.review_date
{
	color: #fe4c50;
	margin-top: -4px;
}
.user_name
{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 18px;
}
.review p
{
	font-weight: 400;
}

/*********************************
8. Add Review
*********************************/

.add_review
{
	margin-top: 94px;
}
#review_form > div
{
	margin-bottom: 40px;
}
#review_form div:nth-child(2) h1
{
	display: inline-block;
}
#review_form div:nth-child(2)
{
	margin-bottom: 20px;
}
#review_form > div:last-child
{
	margin-bottom: 0px;
}
.add_review h1
{
	font-size: 18px;
	font-weight: 500;
}
.form_input
{
	display: block;
	width: 100%;
	height: 50px;
	border: solid 1px #e5e5e5;
	padding-left: 20px;
}
.input_name
{
	margin-bottom: 19px;
	margin-top: 31px;
}
.input_review
{
	display: block;
	width: 100%;
	border: solid 1px #e5e5e5;
	margin-top: 23px;
	padding-left: 20px;
	padding-top: 13px;
}
.user_star_rating
{
	display: inline-block;
	margin-left: 18px;
}
.user_star_rating li
{
	display: inline-block;
	margin-right: -3px;
	cursor: pointer;
}
.user_star_rating li i
{
	color: #f5c136;
	font-size: 18px;
}
.review_submit_btn
{
	width: 170px;
	border: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}

