html,
body {
  /*height: 100%;*/
}

body {
  /*display: flex;*/
  width: 100%;
  align-items: center;
  padding-top: 60px;
  /*padding-bottom: 40px;*/
  background-color: #f5f5f5;
}
.main_center {
  padding-top: 150px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  width: 100%;
  height: 700px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .checkbox a {
  text-decoration: none;
  color: #4374D9;
}

.form-signin a:hover{
  text-decoration: underline;
}

.white_button {
  /*display: -webkit-inline-box;*/
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  background: #ffffff;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.white_button:hover
{
  background: #E7E7E7 !important;
}
.white_button a
{
  display: block;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  width: 100%;
}

.green_button
{
  font-family: 'Noto Sans KR', sans-serif;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  background: #67be38;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.yellow_button:hover
{
  background: #8dd76c !important;
}
.yellow_button a
{

  display: block;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  width: 100%;
}
.shop_sign_button
{
  width: 100%;
  margin-top: 10px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


.form-signin input[type="email"] {
  /*margin-bottom: -1px;*/
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  /*margin-bottom: 10px;*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input{
  margin-top: 10px;
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.sns_login {
  margin-bottom: 20px;
  margin-top: 20px;padding-bottom: 10px;
  border-bottom: solid 1px #dcdcdc;
}
.sns_login a{
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #d9d9d9;
}

#socialDiv img{
  width:60px; height:60px;
}

.signV {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.signV a{
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #656565;
  margin: 5px;
  /*text-decoration: none;*/
}
.signV a:hover{
  text-decoration: none;
  color: #525252;
}


.sign_check{
  text-align: left;
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #424242;
}
.signVaild {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #e10707;
}
.resultVaild {
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #e10707;
}
.checkResult {
  margin: 20px;
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #e10707;
}
.form-floating.btn{
  display: flex;
}
.form-floating.btn label{
  color: #828586;
  position: absolute;
  top: 0;
  /*font-size: 13px;*/
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
.form-floating.phone{
  display: flex;
}
.form-floating.phone label{
  /*color: #828586;*/
  position: absolute;
  margin-top: 10px;
  top: 0;
  /*font-size: 13px;*/
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

.form-floating.phone input:read-only{
  background: #fdfdfe;
}
/*.authNum { */
/*  font-family: 'Noto Sans KR', sans-serif;*/
/*  font-size: 14px;*/
/*  padding: 10px;*/
/*  border: none;*/
/*  margin-top: 10px;*/
/*  margin-left: 5px;*/
/*  margin-bottom: 5px;*/
/*  !*flex-direction: column;*!*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 100px;*/
/*  height: auto;*/
/*  background: #fdc200;*/
/*  color: #1c1f23;*/
/*  border-radius: 3px;*/
/*}*/

#timer {
  display: flex;
  justify-content: right;
  align-items: center;
  right: 0;
}
.form-floating.phone input[type="button"]{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    padding: 10px;
    border: none;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    background: #a8d98e;
    color: #1c1f23;
    border-radius: 3px;
}

.form-signin h6{
  font-size: 14px;
  color: #606060;
  font-weight: normal;
  margin-bottom: 10px;
}
.checks label{
  margin:10px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #383838;
}
.resultId{
  margin-bottom: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.3rem;
  color: #212121;
}
.form-floating.btns{
  display: flex;
  /*margin: 20px;*/
}
.form-floating.btns input[type="button"]{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  margin: 2px;
  padding: 10px;
  border: none;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  width: 200px;
  height: auto;
  background: #a8d98e;
  color: #212121;
}
/*#resultSuccess{*/
/*  font-family: 'Noto Sans KR', sans-serif;*/
/*  font-size: 14px;*/
/*  margin: 2px;*/
/*  padding: 10px;*/
/*  border: none;*/
/*  !*flex-direction: column;*!*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 200px;*/
/*  height: auto;*/
/*  background: #fdc200;*/
/*  color: #212121;*/
/*  border-radius: 3px;*/
/*}*/
.form-page{
  display: flex;
  justify-content: center;
  width:100%;
  height: 400px;
  background: #fdfdfe;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.form-page.n{
  flex-direction: column;
  align-items: center;
  margin:15px;
  width: 300px;
  height: 320px;
  border: 1px solid #bdbdbd;
}
.form-page.n:hover{
  border: 1px solid #212121;
}

.form-page.n a{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 20px;

}
.form-page.n img{
  width: 100px;
  height: 100px;
}
.form-page.n p{
  font-size: 15px;
  font-weight: inherit;
}
.content-ver{
  display: flex;
  justify-content: center;
}
.content-ver.line{
  border-bottom: 1px solid #828586;
  border-top: 1px solid #828586;
  background: none;
  width: 80%;
  height: 90px;
}
.content-ver.line ul{
  list-style: none;
  display: flex;
  justify-items: center;
}
.content-ver.line li{
  margin-top: 20px;
  font-size: 15px;
  margin-right: 120px;
  margin-left: 120px;
}
.content-ver.line a{
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  display: block;
}
.content-ver.line span{
  font-size: 20px;
  font-weight: bold;
}

.form-floating input:read-only{
  background: #f8f8f9;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}

.inner-div {
  display: inline-block;
  justify-content: center;
  width:60%;
  height: 700px;
  margin:auto;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 40px;
}

.inner-div button{
  width: 400px;
}
.main_center.gray{
  background: #f5f5f5;
  height: 1000px;
}

.input-area{
  font-family: 'Noto Sans KR', sans-serif;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.input-area label{
  width: 200px;
}

.input-area input{
  width: 800px;
  height: 40px;
}
.input-area.text{
  height: 150px;
}
.input-area textarea{
  width: 800px;
  height: 150px;
}
.input-area select{
  width: 200px;
  margin-right: 10px;
}
.div-vertical{
  display: block;
}

.super_container{
  background: #ffffff;
}